<div role="main" class="main shop py-4">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="masonry-loader masonry-loader-showing">
                    <div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
                        <div class="col-sm-4 product mb-0">
                            <a href="shop-product-sidebar-left.html">
                                <span class="onsale">Sale!</span>
                            </a>
                            <span class="product-thumb-info border-0">
                                    <a href="shop-cart.html" class="add-to-cart-product bg-color-primary">
                                        <span class="text-uppercase text-1">Add to Cart</span>
                            </a>

                            <span class="product-thumb-info-image">
                                            <img alt="" class="img-fluid" src="assets/img/products/product-grey-1.jpg">
                                        </span>

                            </span>
                        </div>
                        <div class="col-sm-8">
                            <div class="summary entry-summary">

                                <h1 class="mb-0 font-weight-bold text-7">Photo Camera</h1>

                                <!-- <div class="pb-0 clearfix">
                                    <div title="Rated 3 out of 5" class="float-left">
                                        <input type="text" class="d-none" value="3" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
                                    </div>

                                    <div class="review-num">
                                        <span class="count" itemprop="ratingcount">2</span> reviews
                                    </div>
                                </div> -->

                                <p class="price">
                                    <!-- <del class="text-1"><span class="amount text-1">$325</span></del> -->
                                    <ins class="text-decoration-none"><span class="amount text-dark font-weight-semibold">$299</span></ins>
                                </p>

                                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
                                    Fusce in hendrerit purus. </p>

                                <form enctype="multipart/form-data" method="post" class="cart">
                                    <div class="quantity quantity-lg">
                                        <input type="button" class="minus" value="-">
                                        <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                        <input type="button" class="plus" value="+">
                                    </div>
                                    <button href="#" class="btn btn-primary btn-modern text-uppercase">Add to cart</button>
                                </form>

                                <div class="product-meta">
                                    <span class="posted-in">Categories: <a rel="tag" href="#">Electronics</a>, <a rel="tag" href="#">Camera & Photo</a>.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <hr class="my-5">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="pagination float-right">
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>